QMainWindow {
background-color: QLinearGradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #EEFFD4, stop: 1 #B0EDA4);
}
QMenu {
background-color: #aed663;
background: #a3d166;
color: 'black';
}
QMenuBar {
background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #d3ff9e, stop:1 #e1ffbd);
background: #a3d166;
color: 'black';
}
QMenuBar::item {
background: transparent;
spacing: 3px;
padding: 1px 4px;
border-radius: 4px;
}
QMenuBar::item:selected { /* when selected using mouse or keyboard */
background: #c9f774;
}
QMenuBar::item:pressed {
background: #c8f06c;
}
QStatusBar {
background-color: #c9f774;
border: 1px solid black;
border-radius: 3px;
}
QToolBar#tb1, QToolBar#tb2, QToolBar#tb {
background-color: transparent;
border: 1px transparent;
}
QToolBar::separator{
background-color: transparent;
}
QToolButton:pressed {
background-color: #a3d166;
border-radius: 3px;
}
QToolButton:hover {
background-color: #a3d166;
border-radius: 3px;
}
QToolButton:focused {
background-color: #a3d166;
border-radius: 3px;
}
QToolButton:checked {
background-color: #a3d166;
border-radius: 3px;
}
QToolTip {
border: 1px solid black;
padding: 2px;
border-radius: 3px;
opacity: 200;
background-color: #a3d166;
}
