QMainWindow {
background-color: QLinearGradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 LemonChiffon, stop: 1 #F2D388);
}
QMenu {
background-color: #D8AB4E;
background: '#FFF6BA';
color: 'black';
}
QMenuBar {
background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFF6BA, stop:1 #F2D388);
background: #F2D388;
color: 'black';
}
QMenuBar::item {
background: transparent;
spacing: 3px;
padding: 1px 4px;
border-radius: 4px;
}
QMenuBar::item:selected { /* when selected using mouse or keyboard */
background: #FFF6BA;
}
QMenuBar::item:pressed {
background: #DCAE1D;
}
QStatusBar {
background-color: #FFF6BA;
border: 1px solid black;
border-radius: 3px;
}
QToolBar#tb1, QToolBar#tb2, QToolBar#tb {
background-color: transparent;
border: 1px transparent;
}
QToolBar::separator{
background-color: transparent;
}
QToolButton:pressed {
background-color: LemonChiffon;
border-radius: 3px;
}
QToolButton:hover {
background-color: LemonChiffon;
border-radius: 3px;
}
QToolButton:focused {
background-color: LemonChiffon;
border-radius: 3px;
}
QToolButton:checked {
background-color: LemonChiffon;
border-radius: 3px;
}
QToolTip {
border: 1px solid black;
padding: 2px;
border-radius: 3px;
opacity: 200;
background-color: LemonChiffon;
}
